.root {

  li {
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    &:global {
      &.selected {
        a {
          background-color: #fe5f1e;
          color: #fff;
        }
      }
    }
  }

  a {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    color: #fe5f1e;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
    }
  }
}